<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <!-- Only exposes regression-test fixtures to the app itself; excluded from release variants. -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.test-media"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/test_media_paths" />
        </provider>
    </application>
</manifest>
